[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/yogendra-t
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/yogendra-t
	label-Verified = -1..+1 group user/yogendra-t
	push = group user/yogendra-t
	read = group user/yogendra-t
	rebase = group user/yogendra-t
	removeReviewer = group user/yogendra-t
	submit = group user/yogendra-t
[access "refs/heads/*"]
	create = group user/yogendra-t
	push = +force group user/yogendra-t
	pushMerge = group user/yogendra-t
	read = group user/yogendra-t
[access "refs/tags/*"]
	push = group user/yogendra-t
	push = +force group user/yogendra-t
